body{
    background-repeat: no-repeat;
    background-size: 15.6in;
}
#ai{
    font-size: 28px;
    font-family: roboto;
    text-decoration: underline;
    text-decoration-style: wavy;
}
.note{
    font-size: 18px;
    color: black;
}
#nnote{
    font-size: 20px;
    color: black;
}
h3:hover{
    color: black !important;
    border-top-left-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    border-bottom-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    background: rgb(255, 242, 0) !important;
    padding: 10px !important;
    border-width: 5px !important;
    border-left-color: rgb(255, 251, 184) !important;
    border-bottom-color: rgb(255, 247, 100) !important;
    border-right-color: rgb(75, 71, 0) !important;
    border-top-color: rgb(120, 114, 0) !important;
}
h3{
    color: black !important;
    border-top-left-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    border-bottom-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    background: rgb(30, 255, 0) !important;
    padding: 10px !important;
    border-width: 5px !important;
    border-left-color: rgb(189, 254, 180) !important;
    border-bottom-color: rgb(133, 255, 117) !important;
    border-right-color: rgb(9, 74, 0) !important;
    border-top-color: rgb(12, 107, 0) !important;
}
#songNametext{
    background-color: aqua;
    color: black;
    font-weight: bold;
    font-size: 25px;
    border-width: 5px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-top-color: rgb(0, 126, 126);
    border-right-color: rgb(0, 70, 70);
    border-left-color: rgb(196, 255, 255);
    border-bottom-color: rgb(148, 255, 255);
}
#songNametext:hover{
    background-color: deeppink;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-top-color: rgb(116, 0, 62);
    border-right-color: rgb(57, 0, 30);
    border-bottom-color: rgb(255, 142, 202);
    border-left-color: rgb(253, 206, 231);
}
#songNametext:active{
    background-color: rgb(255, 238, 0);
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-top-color: rgb(141, 129, 0);
    border-right-color: rgb(95, 87, 0);
    border-bottom-color: rgb(255, 249, 161);
    border-left-color: rgb(255, 251, 197);
}

canvas
{
    border: 5px solid white;
    border-radius: 20px;
}